<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "Qala Q-Flow CLI" ?>
<?define Manufacturer = "Qala Technologies" ?>
<?define Version = "0.0.1" ?>
<?define UpgradeCode = "07419927-af16-4cca-8a32-0b2b58de68f5" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true"
             Scope="perMachine">
        <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

        <!-- Allow upgrades and prevent downgrades -->
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        
        <!-- Define the directory structure -->
        <StandardDirectory Id="ProgramFiles64Folder">
            <!-- Create a folder inside program files -->
            <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
                <!-- Create a folder within the parent folder given the name -->
                <Directory Id="INSTALLFOLDER" Name="$(Name)">
                    <!-- Create a single component which is the Qala.Cli.exe file -->
                    <Component Id="ServiceExecutable">
                        <File Id="QalaCliExe" Source="..\.releases\windows\Qala.Cli.exe" KeyPath="yes" />
                    
                        <!-- Add the installation directory to the PATH environment variable -->
                        <Environment Id="AddToPath" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>

        <!-- Create a batch file in the System32 directory -->
        <StandardDirectory Id="System64Folder">
            <Component Id="BatchFileComponent" Guid="d4ed2a28-3e07-431a-96ed-461b1d22a815">
                <File Id="QalaCliBatchFile" Name="qala-cli.bat" Source="qala-cli.bat" KeyPath="yes" />
            </Component>
        </StandardDirectory>

        <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
            <ComponentRef Id="ServiceExecutable" />
            <ComponentRef Id="BatchFileComponent" />
        </Feature>

        <!-- UI Elements -->
        <Icon Id="QalaIcon" SourceFile="resources/logo.ico" />
        <ui:WixUI Id="WixUI_Minimal" />
        <!-- <WixVariable
                Id="WixUILicenseRtf"
                Value="bpl.rtf"
                /> -->
                <!-- Message at the end of the installation -->
            <Property
                Id="WIXUI_EXITDIALOGOPTIONALTEXT"
                Value="Thank you for installing this product."
                />
    </Package>
</Wix>