<?xml version="1.0" encoding="UTF-8"?>
 <Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <!-- <?define ProductVersion="$(env.QALA_CLI_VERSION)" ?> -->
  <?define ProductVersion="0.0.1" ?>

  <?define ProductName = "QALA Q-Flow CLI" ?>
  <?define ProductDescription = "Command-line tools for QALA Q-Flow." ?>
  <?define ProductAuthor = "Qala Technologies" ?>
  <?define ProductResources = ".\resources\" ?>
  <?define Guid = "07419927-af16-4cca-8a32-0b2b58de68f5" ?>
    <!-- needs to be temporary -->
  <?define Platform = "x64" ?>

  <?if $(var.Platform) = "x64" ?>

  <?define QalaCliRegistryGuid = "90b6367e-4e15-4313-af33-a0ef459a56fc" ?>
  <?define QalaCliSystemPathGuid = "12c8f0dc-0475-4814-93b6-fcbe82e89532" ?>
  <?define QalaCliVersionGuid = "4df4882f-4604-4cdc-a0b4-bffc4b8c5967" ?>
  <?define ProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define RemoveQalaCLIFolderGuid = "7ce8a521-7429-4ded-9cce-0948e393cc83" ?>
  <?define RemoveCLIFolderGuid = "59fb416c-91d0-49aa-a185-d4330c435a93" ?>

  <?define UpgradeCode = "d1e93a99-7d3a-4351-b7f0-e744a8e2cfea" ?>
  <?define Architecture = "64-bit" ?>

  <?elseif $(var.Platform) = "x86" ?>

  <?define QalaCliRegistryGuid = "BDEEE50E-70D3-4990-BFF9-FCF8114AA701" ?>
  <?define QalaCliSystemPathGuid = "3B60CA67-DB92-465A-BC96-3CA6CAEFF41B" ?>
  <?define QalaCliVersionGuid = "A5647E93-02B7-4CED-802A-DDD7416E0231" ?>
  <?define ProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define RemoveQalaCLIFolderGuid = "6AF97701-6A7A-4292-95D6-ED34CD4C97C0" ?>
  <?define RemoveCLIFolderGuid = "24DA394D-B03D-4623-A0D9-852DB51EF9F4" ?>

  <?define UpgradeCode = "07419927-af16-4cca-8a32-0b2b58de68f5" ?>
  <?define Architecture = "32-bit" ?>

  <?else ?>
    <?error Unsupported platform "$(var.Platform)" ?>
  <?endif ?>

  <Product Id="*"
           Name="$(var.ProductName) ($(var.Architecture))"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductAuthor)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Property="WIX_UPGRADE_DETECTED" Maximum="$(var.ProductVersion)" IncludeMaximum="no" MigrateFeatures="yes" />
      <UpgradeVersion Property="WIX_DOWNGRADE_DETECTED" Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallExecute" />
    </InstallExecuteSequence>

    <!-- New product architectures should upgrade the original x86 product - even of the same version. -->
    <?if $(var.UpgradeCode) != $(var.Guid) ?>
    <Upgrade Id="$(var.Guid)">
      <UpgradeVersion Property="WIX_X86_UPGRADE_DETECTED" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" MigrateFeatures="yes" />
      <UpgradeVersion Property="WIX_X86_DOWNGRADE_DETECTED" Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" />
    </Upgrade>
    <Condition Message="A newer version of $(var.ProductName) is already installed.">NOT (WIX_DOWNGRADE_DETECTED OR WIX_X86_DOWNGRADE_DETECTED)</Condition>
    <?else ?>
    <Condition Message="A newer version of $(var.ProductName) is already installed.">NOT WIX_DOWNGRADE_DETECTED</Condition>
    <?endif ?>

    <Media Id="1" Cabinet="QalaQFlowCli.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="QalaIcon" SourceFile="$(var.ProductResources)logo.ico" />

    <Property Id="ARPPRODUCTICON" Value="QalaIcon" />
    <Property Id="ARPHELPLINK" Value="https://qalatech.io" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/QalaTech/qala-cli" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/QalaTech/qala-cli" />
    <Property Id="MSIFASTINSTALL" Value="7" />
    <Property Id="ApplicationFolderName" Value="Qala\Q-Flow" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Feature Id="ProductFeature"
             Title="Qala Q-Flow CLI"
             Level="1"
             AllowAdvertise="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!--Custom action to propagate path env variable change-->
    <CustomActionRef Id="WixBroadcastEnvironmentChange" />

    <!-- User Interface -->
    <!-- <WixVariable Id="WixUILicenseRtf" Value="$(var.ProductResources)CLI_LICENSE.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProductResources)Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProductResources)Banner.bmp" />

    <UIRef Id="WixUI_Minimal"/>
    <UIRef Id="WixUI_ErrorProgressText"/> -->

    <!-- Show message to restart any terminals only if the PATH is changed -->
    <CustomAction Id="Set_WIXUI_EXITDIALOGOPTIONALTEXT" Property="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Please close and reopen any active terminal window to use Qala Q-Flow CLI." />
    <InstallUISequence>
      <Custom Action="Set_WIXUI_EXITDIALOGOPTIONALTEXT" After="CostFinalize">NOT Installed AND NOT WIX_UPGRADE_DETECTED</Custom>
    </InstallUISequence>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="QALAFOLDER" Name="Qala">
          <Directory Id="QFLOWFOLDER" Name="Q-Flow">
            <Directory Id="CLIFOLDER" Name="CLI2">
              <Directory Id="DynamicCliDir"/>
              <Directory Id="BIN" Name="Bin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="QalaCliSettingsGroup">
      <Component Id="RemoveCLIFolder"
                 Directory="DynamicCliDir"
                 Guid="$(var.RemoveCLIFolderGuid)">
        <RemoveFolder Id="DynamicCliDir" On="uninstall" />
      </Component>
      <Component Id="RemoveQalaCLIFolder"
                 Directory="QalaCLIFOLDER"
                 Guid="$(var.RemoveQalaCLIFolderGuid)">
        <RemoveFolder Id="QalaCLIFOLDER" On="uninstall" />
      </Component>
      <Component Id="QalaCliSystemPath"
                 Directory="DynamicCliDir"
                 Guid="$(var.QalaCliSystemPathGuid)">
        <Environment Id="QalaCliAddedToPATH"
                     Name="PATH"
                     Value="[DynamicCliDir]wbin"
                     Permanent="no"
                     Part="first"
                     Action="set"
                     System="yes" />
        <CreateFolder />
      </Component>
      <Component Id="QalaCliRegistry"
                 Directory="DynamicCliDir"
                 Guid="$(var.QalaCliRegistryGuid)">
        <RegistryValue Root="HKCU"
                       Key="Software\Qala\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
      <Component Id="QalaCliVersion"
                 Directory="DynamicCliDir"
                 Guid="$(var.QalaCliVersionGuid)">
        <RegistryValue Root="HKLM"
                       Key="Software\Qala\$(var.ProductName)"
                       Name="version"
                       Type="string"
                       Value="$(var.ProductVersion)"
                       KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents">
      <ComponentGroupRef Id="QalaCliComponentGroup"/>
      <ComponentGroupRef Id="QalaCliSettingsGroup"/>
    </ComponentGroup>

  </Fragment>
</Wix>